@import "../../scss/mixin";
@import "../../scss/variables";


.Row__poster {
	position: relative;
  border:1px solid orange;
	overflow: hidden;

	margin-top: 20px;
  // height: 325px; // or 100vh for full viewport height
  height: 325px; // or 100vh for full viewport height
  width: 100%;
  display: flex;
  flex-direction: column;

	cursor: pointer;
	&:last-of-type {
		img {
			margin-right: 3rem;
		}
	}
	
	&--wrp {
		display: flex;
		position: relative;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	img {
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 5px;
		// object-fit: cover;
	}

	&__fallback {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		min-width: 100%;
		min-height: 150px;
		border-radius: 5px;
		text-align: center;
		font-weight: 500;
		z-index: -1;
		padding: 0 1em;
	}

	&--big {
		img {
			width: 100%;
			min-height: auto;
		}
	}

	&-info {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateY(15%);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		padding: 0.6em;
		opacity: 0;
		z-index: 2;
        border-radius: 5px;
		pointer-events: none;
		transition: all .4s ease .15s;

		@include mq('md') {
			pointer-events: all;
		}

		&--iconswrp {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&--icon {
			display: inline-flex;
			padding: 6px;
			border-radius: 50%;
			font-size: 12px;
			cursor: pointer;
			margin: 0 5px;
			margin-bottom: 0.6em;
			background: transparent;
			color: $white;
			border: 1px solid $white;
			transition: all 0.3s ease-out;
			outline: none;

			@include mq('lg') {
				font-size: 14px;
				padding: 8px;
				margin-bottom: 0.8em;
			}

			@include mq(1378px, 1680px) {
				font-size: 12px;
				padding: 6px;
				margin-bottom: 0.6em;
			}

			@include mq(1680px) {
				font-size: 14px;
				padding: 8px;
				margin-bottom: 0.8em;
			}

			&:hover {
				background: $white;
				color: $black;
			}

			&:first-child {
				margin-left: 0;
				background: $white;
				color: $black;

				&:hover {
					background: rgba($white, 0.7);
					border-color: rgba($white, 0.7);
				}
			}
		}

		&--title {
			h3 {
				font-size: 12px;
				font-weight: 600;
				text-transform: none;

				@include mq('lg') {
					font-size: 15px;
				}

				@include mq(1378px, 1680px) {
					font-size: 12px;
				}

				@include mq(1680px) {
					font-size: 15px;
				}
			}

			p {
				font-size: 10px;
				margin-top: 0.3vw;
				margin-bottom: 0;

				@include mq('lg') {
					font-size: 13px;
				}

				@include mq(1378px, 1680px) {
					font-size: 10px;
				}

				@include mq(1680px) {
					font-size: 13px;
				}
			}
		}	
	}

	.image-wrapper-property {
		  flex: 0 0 75%; // 70% height
		  img {
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		  }
			}
		.image-wrapper-blog {
		  flex: 0 0 100%; // 70% height
		  img {
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		  }
			}
		.image-wrapper-agent {
		  flex: 0 0 85%; // 70% height
		  img {
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		  }
			}
		
		  .property-detail{
		      flex: 0 0 25%; // remaining 30%
					background-color: white;
		  display: flex;
		  flex-direction: column;
			justify-content: space-between;
		  }
}

.swiper-slide {
	.Row__poster {

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, transparent 65%);
			z-index: 0;
			opacity: 0;
			transition: opacity 0.2s ease-out;
		}
	}
	@include mq('md') {
		&:hover {
			.Row__poster {
				&::after {
					opacity: 1;
				}

				&-info {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}

// .image-wrapper-property {
//   flex: 0 0 75%; // 70% height
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// 	}
// .image-wrapper-blog {
//   flex: 0 0 100%; // 70% height
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// 	}
// .image-wrapper-agent {
//   flex: 0 0 85%; // 70% height
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// 	}

//   .property-detail{
//       flex: 0 0 25%; // remaining 30%
// 			background-color: white;
//   display: flex;
//   flex-direction: column;
// 	justify-content: space-between;
//   }



	.Row__poster-title {
		position: absolute;
		top: 8px;
		color: white;
		background-color:rgba(0, 0, 0, 0.5); // semi-transparent background for readability
    padding: 0 5px;
		text-align: center;
    white-space: nowrap;       /* Prevents line wrapping */
    overflow: hidden;          /* Hides overflowing text */
    text-overflow: ellipsis;   /* Adds ellipsis ("...") if text overflows */
		border-radius: 1px;
    width: 100%;
	}
	.Row__poster-address{
    height: 50%; // 10% of info-section height
    // white-space: nowrap;      /* Prevents line wrapping */
    // overflow: hidden;         /* Hides overflowing text */
    // text-overflow: ellipsis;  /* Adds ellipsis ("...") if text overflows */
		overflow: hidden; // Hide overflow text
		display: -webkit-box;
		-webkit-line-clamp: 2; // Limit to 2 lines
		-webkit-box-orient: vertical;
		text-overflow: ellipsis; // Add ellipsis for overflow
		background-color: white;
		color: black;
    border: 1px solid black;

		span {
			max-height: 42px;
			display: inline-block;
			line-height: 1.2; // Adjust line height for better readability
		}
	}	
	.Row__poster-property-info {
    height: 50%;
		background-color: white;
		color: black;
    // border: 2px solid black;
		padding: 0 5px;
	}

	.Row__poster-property-ammenities, .Row__poster-property-land-area{
			display: flex;
		justify-content: space-between; /* spread items to edges */
	}

	.Row__poster-agent-contact{
    height: 25%;
		background-color: white;
		color: black;		
		padding: 0 5px;
    border: 1px solid black;

		// margin-bottom: 5px;
	}	

// .swiper-slide {
// 	width: 275px !important; /* or any desired width */
// }
