.suburbselect{
    // display: grid;
    // grid-template-columns:  repeat(1, 1fr); /* fallback for small screens */ // default
    // gap: 20px;
  
    // @media (min-width: 330px) and (max-width: 624px) {
    //   grid-template-columns: repeat(1, 1fr);
    //   // margin: 30px;
    // }
    // @media (min-width: 625px) and (max-width: 997px) {
    //   grid-template-columns: repeat(4, 1fr);
    // }
    // @media (min-width: 998px) and (max-width: 1377px) {
    //   grid-template-columns: repeat(5, 1fr);
    // }
    // @media (min-width: 1378px) and (max-width: 1680px) {
    //   grid-template-columns: repeat(6, 1fr);
    // }
    
  

  select {
    border: 1px solid gray;
    transition: 0.3s;
    width: 100%;
    min-height: 80px;
    max-width: 100%;
    padding: 15px;
    font-family: inherit;
    color: inherit;
    background-color: black;
  }
  select:focus {
    color: white;
    border: 1px solid white;
  }  
  
option{
  color: white;
    width: 100%;
  box-sizing: border-box;
  font-size: 13px;
}
option:focus {
  outline: 0 none;
  // color: #181818;
  color: white;
}

}